RewriteEngine On
RewriteCond %{SERVER_PORT} 80



Options +FollowSymlinks
Options -Indexes

RewriteEngine On

#redirect all to www
#RewriteEngine On
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} ^(.+)/$
#RewriteRule ^(.+)/$  /$1 [R=301,L]

DirectoryIndex  index.php

#index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^index.html$ index.php [L,NC]
RewriteRule ^index.html$ index.php [L,NC]

#home Page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index.php$ index.php [L,NC]

####### ================= Insol-India
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(insolindia|cms)
RewriteRule ^insol-india$ insol-india.php [L,NC]

####### ================= mission
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(insolindia|cms)
RewriteRule ^mission$ mission.php [L,NC]

####### ================= history
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(insolindia|cms)
RewriteRule ^history$ history.php [L,NC]

####### ================= vision-statement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^vision-statement$ vision-statement.php [L,NC]

####### ================= legal-status
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^legal-status$ legal-status.php [L,NC]

####### ================= nlu-delhi-insol-india-international-moot-competition-on-insolvency
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^nlu-delhi-insol-india-international-moot-competition-on-insolvency$ nlu-delhi-insol-india-international-moot-competition-on-insolvency.php [L,NC]

####### ================= voluntary-best-practices
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^voluntary-best-practices$ voluntary-best-practices.php [L,NC]

####### ================= designing-insolvency-courses-for-law-schools
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^designing-insolvency-courses-for-law-schools$ designing-insolvency-courses-for-law-schools.php [L,NC]

####### ================= sipi
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^sipi$ sipi.php [L,NC]

####### ================= members
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^members$ members.php [L,NC]

#######contribute-newsletter
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^contribute_newsletter$ contribute-newsletter.php [L,NC]


####### ================= News
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^news$ news.php [L,NC]

####### ================= News-Detail

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^news/([a-zA-Z0-9_-]+)$ news-details.php?url_key=$1 [L,NC,QSA]

####### ================= Events
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^events$ events.php [L,NC]

####### ================= Newsletter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^newsletter$ newsletter.php [L,NC]

####### ================= Events-detail

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^event/([a-zA-Z0-9_-]+)$ event-detail.php?url_key=$1 [L,NC,QSA]

####### ================= Projects-detail

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^projects/([a-zA-Z0-9_-]+)$ projects_detail.php?url_key=$1 [L,NC,QSA]

####### ================= Media
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^media$ media.php [L,NC]

####### ================= Media-detail

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^media/([a-zA-Z0-9_-]+)$ media-detail.php?url_key=$1 [L,NC,QSA]

####### ================= Resource
###RewriteCond %{REQUEST_FILENAME} !-f
###RewriteCond %{REQUEST_FILENAME} !-d
###RewriteRule ^resources$ resources.php [L,NC]

########### Resource direct

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_URI} !\.html$ 
RewriteRule ^resources$ resources.php [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_URI} !\.html$ 
RewriteRule ^resources/$ resources.php [L,NC,QSA]


########### Resource Category

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond $1 !^(event|members)
RewriteCond %{REQUEST_URI} !\.html$
#RewriteRule ^resources/([a-zA-Z0-9_-]+)$ resources.php?cat_url_key=$1 [L,NC,QSA]
RewriteRule ^resources/(.+)$ resources.php?cat_url_key=$1 [L,NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond $1 !^(event|members)
RewriteCond %{REQUEST_URI} !\.html$
#RewriteRule ^resources/([a-zA-Z0-9_-]+)/$ resources.php?cat_url_key=$1 [L,NC,QSA]
RewriteRule ^resources/(.+)/$ resources.php?cat_url_key=$1 [L,NC,QSA]



####### ================= Resource-Detail

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(event|members)  
##RewriteRule ^resources/([a-zA-Z0-9_-]+)$ resource-detail.php?url_key=$1 [L,NC,QSA]

RewriteRule ^resources/([a-zA-Z0-9_-]+)\.html$ resource-detail.php?url_key=$1 [L,NC,QSA]

####### ================= Gallery
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^gallery$ gallery.php [L,NC]

####### ================= Gallery-Detail

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^gallery/([a-zA-Z0-9_-]+)$ gallery-detail.php?url_key=$1 [L,NC,QSA]

####### ================= Executive - Committee
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^executive-committee$ executive-committee.php [L,NC]

####### ================= Ececutive Committee Detail

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d  
#RewriteRule ^executive-committee/([a-zA-Z0-9_-]+)$ executive_committee_detail.php?url_key=$1 [L,NC,QSA]

####### ================= Board-Governor
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(insolindia|cms)

#RewriteRule ^board-governors$ board_governor.php [L,NC]

####### ================= Board-Governor Detail

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d  
RewriteCond $1 !^(insolindia|cms)
#RewriteRule ^board-governors/([a-zA-Z0-9_-]+)$ board_governor_detail.php?url_key=$1 [L,NC,QSA]

####### ================= Judges- Advisory- Roundtable
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^judges-advisory-board$ judges_advisory_roundtable.php [L,NC]

####### ================= Judges- Advisory- Roundtable- Detail

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d  
#RewriteRule ^judges-advisory-roundtable/([a-zA-Z0-9_-]+)$ judges_advisory_roundtable_detail.php?url_key=$1 [L,NC,QSA]

####### ================= Academic -Committees
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^academic-committees$ academic_committees.php [L,NC]

####### ================= Academic -Committees- Details

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d  
#RewriteRule ^academic-committees/([a-zA-Z0-9_-]+)$ academic_committees_detail.php?url_key=$1 [L,NC,QSA]

####### ================= Draft-best-practices
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^draft-best-practices$ draft_best_practices.php [L,NC]

####### ================= young-members-committee
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^young-practitioner's-committee$ young-members-committee.php [L,NC]

####### ================= Young Meembers Committee Detail

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d  
#RewriteRule ^young-practitioner's-committee/([a-zA-Z0-9_-]+)$ young_members_committee_detail.php?url_key=$1 [L,NC,QSA]

####### ================= Governance-list

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteCond $1 !^(event|gallery|media|login|SIG24|news|law-regulations-and-rules|reports|articles|resources|change-pass|myaccount|insolindia|cms)

RewriteRule ^([a-zA-Z0-9_-]+)$ governance_list.php?url_key=$1 [L,NC,QSA]

####### ================= Governance-sublist

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteCond $1 !^(event|gallery|media|login|SIG24|news|law-regulations-and-rules|reports|articles|resources|change-pass|myaccount|insolindia|cms)
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ governance_sub_list.php?master_url_key=$1&url_key=$2 [L,NC,QSA]

####### ================= governance-detail

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteCond $1 !^(event|insol-committees|gallery|media|login|SIG24|news|law-regulations-and-rules|reports|articles|resources|change-pass|myaccount|insolindia|cms)
RewriteRule ^governance/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ governance_detail.php?master_url=$1&url_key=$2 [L,NC,QSA]

####### ================= governance-sub-detail

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ governance_sub_detail.php?type_url_key=$1&subtype_key=$2&url_key=$3 [L,NC,QSA]

#######login
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^login login.php [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^login/$ login.php [L,NC]

#######myaccount
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^myaccount myaccount.php [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^myaccount/$ myaccount.php [L,NC]


#######change-pass
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^change-pass change-pass.php [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^change-pass/$ change-pass.php [L,NC]

####### SIG24
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^SIG24$ sig24.php [L,NC]

####### ================= SIG24- Details

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^SIG24/([a-zA-Z0-9_-]+)$ sig24_detail.php?url_key=$1 [L,NC,QSA]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php56” package as the default “PHP” programming language.
# <IfModule mime_module>
#   AddHandler application/x-httpd-ea-php56 .php .php5 .phtml
# </IfModule>
# php -- END cPanel-generated handler, do not edit