@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-size:14px;
	font-weight:400;
	color:#666666;
	text-align:left;
	font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0 0 10px 0;
}
a{
	text-decoration:none;
}
.container{
	padding:0;
}
.main-wrapper{
	margin:0;
	padding:0;
	width:100%;
	height:auto;
}
/*---=====HEADER=====---*/
.main_header{
	margin: 0;
    padding: 0;
}
.sub_menu_bg{
	background-color: #b71d21;
}
.sub_menu{text-align: right;}
.sub_menu>ul{
	list-style: none;
    margin: 0;
    padding: 0;
}
.sub_menu>ul>li{
	display: inline-block;
}
.sub_menu>ul>li>a {
    display: block;
    font-size: 12px;
    color: #fff;
    margin: 6px 0px 6px 26px;
    text-decoration: none;
    font-weight: 400;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.main_menu_bg {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    position: relative;
	z-index: 999;
}
.main_menu_logo{
	margin:0;
	padding:0;
}
.main_menu_logo a{
	display:inline-block;
	text-decoration:none;
}
.main_menu_logo a img{
	width: auto;
    margin: 10px 0;
}

.main_menu_text{
	margin:0;
	padding:0;
}
.main_menu{
	text-align:right;
}
.main_menu>ul{
	list-style: none;
    margin: 0;
    padding: 0;
	position:relative;
}
.main_menu>ul>li{
	display: inline-block;
	padding: 0 13px;
}
.main_menu>ul>li:last-child{padding:0 0 0 12px;}
.main_menu>ul>li>a{
	display: block;
    font-size: 14px;
    color: #000000;
    padding: 34px 0px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
	transition: width .5s ease, background-color .5s ease;
	position:relative;
}
.main_menu>ul>li>a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.main_menu>ul>li>a:hover:after{
    width: 100%;
    background: #23408f;
}
.main_menu>ul>li>a:hover{
	color: #23408f;
}
/*.menu_item:hover.menu_item:after {
    width: 100%;
    background: #23408f;
}
.menu_item{
	-webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    z-index: 9999;
	position:relative;
}
.menu_item:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}*/

.main_menu>ul>li .menu_dropdown {
    position: absolute;
    top: 120%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    z-index: 9;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #b71d21;
}
.main_menu>ul>li .menu_dropdown li {
    display: block;
    text-align: left;
    padding: 0px;
}
.main_menu>ul>li .menu_dropdown li a {
    padding: 9px 20px;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.main_menu>ul>li .menu_dropdown li a:hover{
	/*color:#000;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.34);*/
	background-color:#23408f;
}
.main_menu>ul>li:hover .menu_dropdown {
    top: 100%;
    visibility: visible;
    opacity: 1;
}
/*---=====END HEADER=====---*/

/*--===INDEX PAGE===--/
/*---=====IMAGE SLIDER---====*/
/*.main_slider{
	width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
.main_slider img{width: 100%;}
.main_slider .img_caption {
    width: 410px;
    padding: 0px;
    top: 50px;
    position: absolute;
    left: 6.8%;
    text-align: left;
    height: auto;
    background-color: rgba(50, 50, 50, 0.54);
}
.main_slider .img_caption h2{
	font-size:26px;
	color:#fff;
	margin:0;
	padding:20px 25px;
	font-weight:300;
	text-transform:uppercase;
	background-color: rgba(30, 30, 30, 0.52);
}
.main_slider .img_caption h5 {
    font-size: 13px;
    margin: 0;
    padding: 20px 25px 10px 25px;
    color: #fff;
    font-weight: 600;
}
.main_slider .img_caption p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding: 0px 25px 30px 25px;
}
.main_slider .img_caption p a {
    color: #fff;
	text-decoration:none;#b71d21
}
.main_slider .img_caption p a:hover {
    color: #ededef;
}

.main_slider .slick-prev {
    left: 32.5%;
    position: absolute;
    top: 73px;
    background-image: url(../images_insol/arrow_left.png);
    z-index: 99;
    background-color: rgba(0, 0, 0, 0);
    width: 11px;
    height: 22px;
    background-repeat: no-repeat;
    line-height: 0px;
    color: #fff;
    border: 0px solid #000;
    font-size: 0px;
    background-position: center;
}
.main_slider .slick-next {
    left: 35%;
    position: absolute;
    top: 73px;
    background-image: url(../images_insol/arrow_right.png);
    z-index: 99;
    background-color: rgba(0, 0, 0, 0);
    width: 11px;
    height: 22px;
    background-repeat: no-repeat;
    line-height: 0px;
    color: #fff;
    border: 0px solid #000;
    font-size: 0px;
    background-position: center;
}
*/
/*---=====END IMAGE SLIDER---====*/

/*---=====ABOUT---====*/
.index_about{
	background-color:#f7f7f7;
	padding: 0;
}
.index_about_left{
	padding:40px 0;
	margin:0;
}
.index_about_left .index_about_left_img {
    width: 47%;
    float: left;
	padding-right: 34px;
}
.index_about_left .index_about_left_img img {
    width: 100%;
}

.index_about_left .index_about_left_cp {
    width: 53%;
    float: left;
	padding: 0 45px 0 0;
}
.index_about_left .index_about_left_cp h2{
	font-size:30px;
	color:#b71d21;
	font-weight:300;
	margin:10px 0 20px 0;
	padding:0;
}
.index_about_left .index_about_left_cp p{
	font-size:16px;
	color:#333f4f;
	font-weight:300;
	margin:0 0 15px 0;
	padding:0;
}
.index_about_left .index_about_left_cp h5{
	margin:0;
	padding:0;
}
.index_about_left .index_about_left_cp h5 a{
	font-size:12px;
	color:#23408f;
	text-decoration:none;
}
.index_about_left .index_about_left_cp h5 a:hover{
	color:#b71d21;
}


.index_about_right {
    margin: 0;
    background-image: url(../images_insol/events_bg.png);
    background-repeat: no-repeat;
    padding: 0px 25px 0 40px;
    /*background-size: cover;*/
}
.index_about_bg{padding: 40px 0;}
.index_about_right h2{
	font-size:30px;
	color:#b71d21;
	font-weight:300;
	margin:10px 0 15px 0;
	padding:0;
}
.about_slider{
	position:relative;
	margin:0;
	padding:0;
}
.about_slider img{
	display: block;
    width: auto;
    float: left;
    margin-right: 20px;
	border: 1px solid #d2d0d0;
}
.about_slider .about_slider_cap{}
.about_slider .about_slider_cap h3{
	font-size:16px;
	color:#000000;
	font-weight:400;
	margin:10px 0 8px;
	padding:0;
}
.about_slider .about_slider_cap h3 a{
	color:#000000;
	text-decoration:none;
}
.about_slider .about_slider_cap h3 a:hover{
	color:#b71d21;
	text-decoration:none;
}
.about_slider .about_slider_cap h5{
	font-size:11px;
	color:#666666;
	font-weight:400;
	margin:0;
	padding:0;
}
.about_slider .about_slider_cap h5 span{color:#24418f;}
.about_slider .about_slider_cap p{
	font-size:13px;
	color:#000000;
	font-weight:400;
	margin:15px 0;
	padding:0;
}

.about_slider .slick-prev {
    right: 8%;
    position: absolute;
    bottom: -36%;
    background-image: url(../images_insol/ev_left.png);
    z-index: 9;
    background-color: #fff;
    width: 22px;
    height: 32px;
    background-repeat: no-repeat;
    line-height: 0px;
    color: #fff;
    font-size: 0px;
    background-position: center;
	border: 1px solid #dedede;
}
.about_slider .slick-prev:hover{
	background-color:rgba(43, 53, 131, 0.17);
}
.about_slider .slick-next {
    right: 0px;
    position: absolute;
    bottom: -36%;
    background-image: url(../images_insol/eve_right.png);
    z-index: 9;
    background-color: #fff;
    width: 22px;
    height: 32px;
    background-repeat: no-repeat;
    line-height: 0px;
    color: #fff;
    font-size: 0px;
    background-position: center;
	border: 1px solid #dedede;
}
.about_slider .slick-next:hover{
	background-color:rgba(43, 53, 131, 0.17);
}
.index_about_right h5{
	margin:35px 0 0 0;
}
.index_about_right h5 a{
	font-size: 12px;
    color: #23408f;
    text-decoration: none;
}
.index_about_right h5 a:hover{
    color: #b71d21;
}
/*---=====END ABOUT---====*/

/*---=====Our Projects---====*/
.index_project{
	background-color:#fff;
	padding: 35px 0;
}
.index_project h2{
	font-size:30px;
	color:#b71d21;
	font-weight:300;
	margin:0px 0 20px 0;
	padding:0;
}
.in_project_sec{
	padding:0 30px;
	margin:0;
	border-right: 1px solid #c7c7c7;
}

.in_project_sec:last-child{
	border-right: 0px solid #c7c7c7;
	padding:0 0px 0 30px;
}
.in_project_sec:nth-child(2){
	padding:0 30px 0 0;
}
.in_project_sec img {
    width: 100%;
    height: 205px;
}
.in_project_sec h3{
	font-size:17px;
	color:#333f4f;
	font-weight:400;
	margin:20px 0;
	padding:0;
}
.in_project_sec h3 a{
	color:#333f4f;
	text-decoration:none;
}
.in_project_sec:hover h3 a{color:#23408f;}
/*---=====END Our Projects---====*/
/*--===END INDEX PAGE===--*/

.footer{
	background-color: #f7f7f7;
	width: 100%;
    height: auto;
    padding: 25px 0;
}
.footer_left{
	padding:0;
	margin:0;
}
.footer_left .footer_left_icon{
	display: table-cell;
    vertical-align: middle;
}
.footer_left .footer_left_icon img{width:100%;}
.footer_left .footer_left_text{
	display: table-cell;
    vertical-align: middle;
    padding-left: 12px;
}
.footer_left .footer_left_text h3{
	font-size:12px;
	font-weight:bold;
	color:#000000;
	margin:0;
	padding:0;
}
.footer_left .footer_left_text h3 a{
	text-decoration:none;
	color:#23408f;
}
.footer_left .footer_left_text h3 a:hover{
	color:#b71d21;
}
.footer_left .footer_left_text p{
	font-size:11px;
	color:#888888;
	font-weight:400;
	margin:0;
	padding:0;
}
.footer_left .footer_left_text p a{
	text-decoration:none;
	color:#888888;
}
.footer_left .footer_left_text p a:hover{
	color:#000000;
}
.footer_right{
	padding:0;
	margin:6px 0;
	text-align:right;
}
.footer_right_text{
	display: inline-block;
    vertical-align: middle;
}
.footer_right_text h3{
	font-size:12px;
	color:#000000;
	font-weight:400;
	margin:0;
	padding:0;
}
.footer_right_link {
    display: inline-block;
    vertical-align: middle;
}
.footer_right_link ul{
	display: block;
    margin: 0;
    padding: 0;
}
.footer_right_link ul li {
    display: inline-block;
    margin-left: 10px;
}
.footer_right_link ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.footer_right_link ul li a:hover{color:#b71d21;}

/*--===INNER PAGE===--*/
.banner{
	width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
	background-color:#efefef;
}
.banner h1 {
    font-size: 30px;
    color: #23408f;
    font-weight: 300;
    margin: 29px 0;
    padding: 0;
	letter-spacing: 0.4px;
}
.inner_page{
	width:100%;
	margin:30px 0;
}
.inner_page_left{
	margin:0;
	padding:0;
}
.inner_page_left ul{
	display: block;
    margin: 0;
    padding: 0;
}
.inner_page_left ul li{
	display: block;
    margin-bottom: 20px;
	border-bottom: 1px solid #c7c7c7;
	padding-bottom: 20px;
}
.inner_page_left ul li i {
    font-size: 17px;
    color: #666666;
    padding: 0 8px 0 10px;
}
.inner_page_left ul li a{
	text-decoration:none;
	font-size:14px;
	color: #666666;
	margin:0;
	padding:0;
	letter-spacing: 0.5px;
	font-weight:400;
}
.active{color:#23408f !important;}
.inner_page_right{
	padding:0 0 0 64px;
}
.inner_page_right h2{
	font-size: 30px;
    color: #b71d21;
    font-weight: 300;
    margin: 0px 0 20px 0;
    padding: 0;
	letter-spacing: 0.5px;
}
.inner_page_right ul{}
.inner_page_right ul li{
	font-size:15px;
	color:#666666;
	font-weight:400;
	letter-spacing:0.2px;
	line-height:22px;
	margin-bottom:20px;
}
.inner_page_right p{
	font-size:15px;
	color:#666666;
	font-weight:400;
	letter-spacing:0.2px;
	line-height:22px;
	margin:0 0 20px 0;
}
/*--===END INNER PAGE===--*/

/*---===Organisation===---*/
.nav-tabs {
    border-bottom: 0px solid #ddd;
}
.inner_page_right .organisation ul li{
    font-size: 18px;
    color: #000000;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: normal;
    margin-bottom: 30px;
	
}
.nav-tabs>li>a {
    margin-right: 3px;
    line-height: normal;
    border: 0px solid transparent;
    border-radius: 0;
	color: #000000;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 14px 48px;
	background-color:#dedede;
	color: #000000;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #b71d21;
	color:#fff;
}
.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #b71d21;
    border: 0px solid #b71d21;
    border-bottom-color: transparent;
}

.organisation {
    margin: 30px 0;
}
.org_section {
    margin: 0;
    padding: 0;
}
.org_sec {
    margin-bottom: 40px;
}
.org_sec .org_sec_img {
    width: 30%;
    float: left;
}
.org_sec .org_sec_img img{
	width:auto;
}

.org_sec .org_sec_text {
    float: left;
    width: 70%;
}
.org_sec .org_sec_text h5{
	font-size:13px;
	color: #23408f;
	font-weight: 600;
	margin:3px 0 0 0;
	padding:0;
}
.org_sec .org_sec_text h3{
	font-size:20px;
	color: #b71d21;
	font-weight: 400;
	margin:0;
	padding:0;
	letter-spacing:0.6px;
}
.org_sec .org_sec_text p {
    font-size: 13px;
    color: #666666;
    font-weight: 400;
    margin: 8px 0;
    padding: 0;
    line-height: 16px;
}
.org_sec .org_sec_text h6{
	font-size:10px;
	color: #000000;
	font-weight: 600;
	margin:0;
	padding:0;
}
.org_sec .org_sec_text h6 a {
    text-decoration: none;
    color: #000000;
    background-color: #e6e6e6;
    display: inline-block;
    padding: 5px 8px;
    border-radius: 2px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.83);
    text-align: center;transition: all 500ms ease;
}
.org_sec .org_sec_text h6 a:hover{
	background-color:#b71d21;
	color:#fff;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.83);
}
/*---===END Organisation===---*/

.led_team_left {
    margin: 0;
    padding: 0px 60px 0 0;
}
.led_team_left img {
    width: 100%;
    border: 1px solid #e5e5e5;
}
.led_team_left .team_back {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0px;
    width: 100%;
    margin-top: 30px;
}
.led_team_left .team_back p {
    font-size: 12px;
    color: #23408f;
    margin: 0;
    padding: 0;
    font-weight: 600;
    overflow: hidden;
}
.led_team_left .team_back p a {
    color: #23408f;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.led_team_left .team_back p a span[data-hover] {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
}
.led_team_left .team_back p a span[data-hover]:before {
    position: absolute;
    top: 100%;
    color: #b71d21;
    content: attr(data-hover);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: color .4s;
    transition: color .4s;
}
.led_team_left .team_back p a:hover span[data-hover] {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.led_team_right {
    padding: 0;
    margin: 0;
}
.led_team_right .team_right_cp {
    margin-bottom: 50px;
}
.led_team_right .team_right_cp h5 {
    font-size: 13px;
    color: #23408f;
    font-weight: 600;
    margin: 5px 0;
    padding: 0;
}
.led_team_right .team_right_cp h3 {
    font-size: 20px;
    color: #b71d21;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin: 0 0 10px 0;
    padding: 0;
}
.led_team_right .team_right_cp p {
    font-size: 13px;
    color: #666666;
    margin: 0;
    padding: 0;
    font-weight: 400;
    position: relative;
}
.led_team_right .team_right_cp p:before {
    content: "";
    width: 160px;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.led_team_right .team_right_text p {
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 22px;
    margin: 0 0 20px 0;
}
.led_team_right .team_right_text ul{margin-bottom: 20px;}
.led_team_right .team_right_text ul li{
	font-size: 14px;
    color: #666666;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 22px;
    margin-bottom: 10px;
}
/*--===GALLERY===--*/
.gallery{}
.gallery_sec{
	padding:15px;
}
.gallery_sec .gallery_img{
	position: relative;
    overflow: hidden;
}
.gallery_sec .gallery_img a{
	text-decoration:none;
}
.gallery_sec .gallery_img img{
	width: 100%;
    margin: 0;
    padding: 0;
}
.gallery_sec .gallery_img span.view_all{
	background: rgba(34, 120, 186, 0.2) none repeat scroll 0 0;
    padding: 72px 0 0 0px;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 100%;
    vertical-align: middle;
    opacity: 1;
    -webkit-transition: 300ms all;
	transition: 300ms all;
	text-align:center;
}
.gallery_sec .gallery_img span.view_all i{
	text-decoration: none;
    padding:0;
    text-align: center;
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 35px;
}
.gallery_sec .gallery_img:hover span.view_all {
    opacity: 1;
    bottom: 0;
}

.gallery_sec .gallery_img .gallery_text {
    text-align: center;
    padding: 0 15px;
}
.gallery_sec .gallery_img .gallery_text h3 {
    color: #23408f;
    font-weight: 600;
    font-size: 14px;
    margin: 20px 0;
    letter-spacing: 0.4px;
    line-height: 17px;
}
.gallery_sec .gallery_img .gallery_text p {
    color: #000;
    font-size: 14px;
    margin: 10px 0;
}
/*--===END GALLERY===--*/
/*----GALLERY SLIDER===--*/
.gallery-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 -10px;
}
.gallery-list li {
    width: 20%;
    float: left;
    padding: 10px;
}
.gallery-list li a {text-decoration: none;}
.gallery-list li a img {width: 100%;}
.lg-backdrop.in {opacity: 0.85;}
.lg-backdrop {background: rgba(0, 0, 0, 0.36);}
.lg-outer .lg-inner {background-color: #ffffff;}
.lg-outer {padding: 0;}
.lg-toolbar {background-color: rgba(255, 255, 255, 0);}
.lg-toolbar .lg-icon {
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 40px;
    height: 60px;
    line-height: 40px;
    padding: 10px 0;
    text-align: center;
    width: 50px;
    text-decoration: none !important;
    outline: medium none;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
    background-color: #000;
}
.lg-toolbar .lg-icon:hover {
    color: #000;
    background-color: #b71d21;
}
.lg-actions .lg-next, .lg-actions .lg-prev {
    background-color: #b71d21;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 25px;
    margin-top: -10px;
    padding: 16px 10px;
    position: absolute;
    top: 50%;
    z-index: 1080;
}
.lg-actions .lg-next:hover, .lg-actions .lg-prev:hover {
    color: #fff;
    background-color: #000;
}
.lg-actions .lg-next {right: 0;}
.lg-actions .lg-prev {left: 0px;}

.gallery_list p {
    font-size: 12px;
    color: #23408f;
    margin: 0;
    padding: 0;
    font-weight: 600;
    overflow: hidden;
	text-align:right;
}
.gallery_list p a {
    color: #23408f;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.gallery_list p a span[data-hover] {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
}
.gallery_list p a span[data-hover]:before {
    position: absolute;
    top: 100%;
    color: #b71d21;
    content: attr(data-hover);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: color .4s;
    transition: color .4s;
}
.gallery_list p a:hover span[data-hover] {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
/*----END GALLERY SLIDER===--*/

/*--===EVENTS===--*/
.events{}
.events_sect {
    padding: 15px;
}
.events_sect:hover{background-color:rgba(43, 51, 135, 0.05);}
.events_sect .events_sect_img {
    width: 22%;
    float: left;
}
.events_sect .events_sect_img img {
    width: 100%;
    border: 1px solid #c5c3c3;
}

.events_sect .events_sect_text {
    float: left;
    width: 78%;
    padding-left: 20px;
}
.events_sect .events_sect_text h3 {
    color: #b71d21;
    font-weight: 400;
    font-size: 17px;
    margin: 5px 0 10px 0;
    letter-spacing: 0.4px;
    line-height: 18px;
}
.events_sect .events_sect_text h3 a{
    color: #b71d21;
}
.events_sect .events_sect_text h4 {
    font-size: 14px;
    color: #23408f;
    margin: 0 0 7px 0;
    padding: 0;
}
.events_sect .events_sect_text h4 i {
    font-size: 14px;
    vertical-align: middle;
    color: #2c3585;
    font-weight: 400;
    margin-right: 5px;
    width: 5%;
    text-align: center;
    float: left;
}
.events_sect .events_sect_text h4 span {
    width: 95%;
}
.events_sect .events_sect_text p {
    font-size: 12px;
    margin: 10px 0;
    color: #000;
}

.events_list{}
.events_list h2 {
    font-size: 30px;
    color: #b71d21;
    font-weight: 300;
    margin: 0px 0 15px 0;
    padding: 0;
    letter-spacing: 0.5px;
}
.events_list h4 {
    font-size: 13px;
    color: #23408f;
    margin: 0 0 4px 0;
    padding: 0;
    font-weight: 600;
}
.events_list h5 {
    font-size: 16px;
    color: #3d3d3d;
    margin: 20px 0;
    font-weight: 600;
    line-height: 22px;
}
.events_list p{
	font-size: 15px;
    color: #666666;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 22px;
    margin: 0 0 20px 0;
}

.event_gallery {
    margin: 50px 0 0 0;
}
.events_list .event_gallery h2{
	font-size: 30px;
    color: #b71d21;
    font-weight: 300;
    margin: 0px 0 20px 0;
    padding: 0;
    letter-spacing: 0.5px;
}
.event_gallery ul{
	list-style: none;
    padding: 0;
    margin: 0 -10px;
}
.event_gallery ul li{
	width: 20%;
    float: left;
    padding: 10px;
}
.event_gallery ul li a{text-decoration: none;}
.event_gallery ul li a img{width: 100%;}
/*--===END EVENTS===--*/

/*--===NEWS===--*/
.news{}
.news_sec{
	padding:15px;
}
.news_sec .news_sec_img {
    position: relative;
    overflow: hidden;
}
.news_sec .news_sec_img img{width:100%;}
.news_sec .news_sec_img .news_date {
    position: absolute;
    top: 0;
    left: 0;
}
.news_sec .news_sec_img .news_date p {
    margin: 0;
    padding: 4px 10px;
    background-color: #000000;
    font-size: 10px;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: 600;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.83);
}
.news_sec h3 {
    font-size: 15px;
    font-weight: 600;
    color: #23408f;
    margin: 12px 0;
    letter-spacing: 0.2px;
}
.news_sec p {
    margin: 12px 0;
    font-size: 12px;
    color: #000;
    line-height: 14px;
}
.news_sec h6 {
    margin: 0;
}
.news_sec h6 a {
    background-color: #b71d21;
    padding: 0;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    vertical-align: middle;
}
.news_sec h6 a span{
	padding: 0 10px;
    vertical-align: middle;
}
.news_sec h6 a i {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    vertical-align: middle;
}

.news_list{}
.news_list h2{
	font-size: 30px;
    color: #b71d21;
    font-weight: 300;
    margin: 0px 0 15px 0;
    padding: 0;
    letter-spacing: 0.5px;
}
.news_list h3{
	font-size: 14px;
    margin: 0;
    font-style: italic;
    color: #23408f;
    font-weight: 600;
}
.news_list h3 span{
    color: #b71d21;
}
.news_list img{
	margin:20px 0;
}
.news_list p{
	font-size: 15px;
    color: #666666;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 22px;
    margin: 0 0 20px 0;
}
.news_list p strong{color:#000;}
/*--===END NEWS===--*/
/*--===MEDIA PAGE===--*/
.media_page{}
.media_list{
	padding: 15px;
    margin: 5px 0;
    border-radius: 3px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 16%, rgba(239,239,239,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 16%,rgba(239,239,239,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 16%,rgba(239,239,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}
.media_list:nth-child(even) {
    background: rgb(255,255,255);
    background: -linear-gradient(to bottom, rgba(255,255,255,1) 16%,rgba(134, 142, 218, 0.21) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(255,255,255,1) 16%,rgba(134, 142, 218, 0.21) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 16%,rgba(134, 142, 218, 0.21) 100%);
	/*background: linear-gradient(to bottom, rgba(255,255,255,1) 16%,rgba(228,241,249,1) 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4f1f9',GradientType=0 );
}
.media_img {
    width: 15%;
    float: left;
}
.media_img a img{
    width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.media_text{
	width: 82%;
    float: right;
}
.media_text h3 {
    font-size: 21px;
    color: #b71d21;
    font-weight: 400;
    margin: 10px 0;
    padding: 0;
    letter-spacing: 0.6px;
}
.media_text h3 a {
    color: #b71d21;
	text-decoration:none;
}
.media_text h4{
	font-size: 13px;
    color: #23408f;
    margin: 0 0 7px 0;
    padding: 0;
}
.media_text h4 i{
	font-size: 14px;
    text-align: center;
    color: #2c3585;
    font-weight: 400;
    margin-right: 5px;
    /*width: 2%;
	vertical-align: middle;
    float: left;*/
}
.media_text h4 span{
	/*width: 98%;*/
}
.media_text p{
	font-size: 13px;
    margin: 10px 0;
    color: #3D3D3F;
}
.media_text h6 {
    font-size: 12px;
    color: #000000;
    font-weight: 600;
    margin: 20px 0 0 0;
    padding: 0;
}
.media_text h6 a {
    text-decoration: none;
    color: #000000;
    background-color: #e6e6e6;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 2px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.83);
    text-align: center;
	transition: all 500ms ease;
}
.media_text h6 a:hover {
    background-color: #2b3484;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.83);
}
/*--===END MEDIA PAGE===--*/

/*--===MEMBERS===--*/
.members{}
.members h2{
	font-size: 30px;
    color: #b71d21;
    font-weight: 300;
    margin: 0px 0 20px 0;
    padding: 0;
    letter-spacing: 0.5px;
	text-align:center;
}
.members_list {
    width: 70%;
    margin: 0 auto;
}
.members_list table {
    border: 1px solid rgba(0, 0, 0, 0.14);
}
.members_list table tr {
    background-color: rgba(43, 53, 131, 0.06);
	border:1px solid rgba(0, 0, 0, 0.14);
	color: #000;
}
.members_list table tr:hover{
	background-color:rgb(42, 52, 132);color:#fff;
}
.members_list table tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
	border:1px solid rgba(0, 0, 0, 0.14);
}
.members_list table tr:nth-child(even):hover {
    background-color:rgb(42, 52, 132);color:#fff;
}
.members_list table tr td {
    padding: 4px 10px;
    font-size: 13px;
    font-weight: 600;
    
    letter-spacing: 0.2px;
	border:1px solid rgba(0, 0, 0, 0.14);
}
.members_list table tr td.mem_td {
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #2c3585;
    text-align: center;
}
.members_list table tr:hover .mem_td{color:#fff;}
/*--===End MEMBERS===--*/

/*--===Resources===--*/
.resources{}
.reso_sect{
    padding: 15px;
}
.reso_sect .reso_sect_img {
    width: 25%;
    float: left;
}
.reso_sect .reso_sect_img img {
    width: 100%;
    border: 1px solid #c5c3c3;
}

.reso_sect .reso_sect_text {
    float: left;
    width: 75%;
    padding-left: 20px;
}
.reso_sect .reso_sect_text h3 {
    color: #b71d21;
    font-weight: 400;
    font-size: 17px;
    margin: 5px 0 10px 0;
    letter-spacing: 0.4px;
    line-height: 18px;
}
.reso_sect .reso_sect_text h3 a {
    color: #b71d21;
}
.reso_sect .reso_sect_text h4 {
    font-size: 14px;
    color: #23408f;
    margin: 0 0 7px 0;
    padding: 0;
}
.reso_sect .reso_sect_text h4 i {
    font-size: 14px;
    vertical-align: middle;
    color: #2c3585;
    font-weight: 400;
    margin-right: 5px;
    width: 5%;
    text-align: center;
    float: left;
}
.reso_sect .reso_sect_text h4 span {
    width: 95%;
}
.reso_sect .reso_sect_text p {
    font-size: 12px;
    margin: 10px 0;
    color: #000;
}
/*--===END Resources===--*/
.home_banner{
	width:100%;
	margin:0;
	padding:0;
	position:relative;
}
.home_banner img{width:100%;}
.home_slider{
    width: 410px;
    padding: 0px;
    top: 50px;
    position: absolute;
    left: 6.8%;
    text-align: left;
    height: auto;
    background-color: rgba(50, 50, 50, 0.54);
}
.home_slider h2{
	font-size:26px;
	color:#fff;
	margin:0;
	padding:20px 25px;
	font-weight:300;
	text-transform:uppercase;
	background-color: rgba(30, 30, 30, 0.52);
}
.home_slider h5 {
    font-size: 13px;
    margin: 0;
    padding: 20px 25px 10px 25px;
    color: #fff;
    font-weight: 600;
}
.home_slider p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding: 0px 25px 30px 25px;
}
.home_slider p a {
    color: #fff;
	text-decoration:none;#fff
}
.home_slider p a:hover {
    color: #dcdcdc;
}
.home_slider .slick-prev {
    right: 55px;
    position: absolute;
    top: -45px;
    background-image: url(../images_insol/arrow_left.png);
    z-index: 99;
    background-color: rgba(0, 0, 0, 0);
    width: 11px;
    height: 22px;
    background-repeat: no-repeat;
    line-height: 0px;
    color: #fff;
    border: 0px solid #000;
    font-size: 0px;
    background-position: center;
}
.home_slider .slick-next {
    right: 25px;
    position: absolute;
    top: -45px;
    background-image: url(../images_insol/arrow_right.png);
    z-index: 99;
    background-color: rgba(0, 0, 0, 0);
    width: 11px;
    height: 22px;
    background-repeat: no-repeat;
    line-height: 0px;
    color: #fff;
    border: 0px solid #000;
    font-size: 0px;
    background-position: center;
}







