@charset "utf-8";
/* CSS Document */

@media (max-width: 1200px){
.container {
    width: 90%;
}
.main_menu > ul > li > a {
    font-size: 12px;
    padding: 35px 0px;
}
.main_menu > ul > li {
    padding: 0 10px;
}
.news_list img {
    margin: 20px 0;
    width: 100%;
}
.events_sect .events_sect_text p {
    display: none;
}
}

@media (max-width: 1100px){
.main_slider .img_caption p {
    font-size: 14px;
    padding: 0px 25px 15px 25px;
}
.main_slider .slick-prev {
    left: 38.5%;
}
.main_slider .slick-next {
    left: 41%;
}
.about_slider .about_slider_cap h3 {
    font-size: 12px;
}
.about_slider .about_slider_cap p {
    font-size: 11px;
    margin: 10px 0;
}
.org_sec .org_sec_img img {
    width: 100%;
}
.org_sec .org_sec_text {
    padding-left: 10px;
}
.org_sec .org_sec_text h3 {font-size: 16px;}
.org_sec .org_sec_text p {font-size: 11px;}
.about_slider .slick-prev {right: 10%;}
.in_project_sec img {
    width: 100%;
    height: auto;
}
.reso_sect .reso_sect_text h3 {
    font-size: 13px;
}
.reso_sect .reso_sect_text h4 i {
    font-size: 11px;
}
.reso_sect .reso_sect_text h4 {
    font-size: 11px;
}
.events_sect .events_sect_text h3 {
    font-size: 13px;
}
.events_sect .events_sect_text h4 {
    font-size: 11px;
}
.events_sect .events_sect_text h4 i{
    font-size: 11px;
}
.home_slider p {
    font-size: 17px;
    padding: 0px 25px 15px 25px;
}
}

@media (max-width: 1090px){
.main_menu{
	width: 270px;
    background: #fff;
    position: fixed;
    left: 0%;
    top: 0;
    height: 100%;
    overflow: auto;
    z-index: 9999;
    padding: 50px 0px;
    -webkit-box-shadow: 0 5px 12px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 5px 12px rgba(0,0,0,0.4);
    box-shadow: 0 5px 12px rgba(0,0,0,0.4);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all 0.3s;
	margin-left: 0;
}
.main_menu>ul {
    display: block;
	margin: 0;
	padding: 0;
	text-align: left;
}
.main_menu>ul>li {
    display: block;
	margin: 0;
	padding: 0;
	border-right: 0px solid rgba(255, 255, 255, 0.31);
}
.main_menu>ul>li>a {
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    color: #000;
    font-size: 13px;
    font-weight: 600;
}
.slidenav{
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	-o-transform:translateX(0);
	transform:translateX(0)
}
.hamburger {
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    border: 5px solid transparent;
    float: right;
    margin: 28px 0;
}
.hamburger span {
    width: 100%;
    height: 2px;
    background: #000;
    display: block;
    position: absolute;
    right: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all 0.3s;
}
.hamburger span.h-top {top: 0;}
.hamburger span.h-middle {
    top: 50%;
    margin-top: -1px;
    width: 25px;
}
.hamburger span.h-bottom {
    bottom: 0;
    width: 27px;
}
.hamburger.h-active span.h-top {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    margin-top: -1px;
}
.hamburger.h-active span {width: 100%;}
.hamburger.h-active span.h-middle {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
.hamburger.h-active span.h-bottom {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 50%;
    margin-bottom: -1px;
}
.main_menu > ul > li .menu_dropdown {
    position: relative;
    top: 0;
    visibility: visible;
    opacity: 1;
    z-index: 9;
    width: 100%;
    background-color: #fff;
}
.main_menu > ul > li .menu_dropdown li a {
    padding: 5px 40px;
    display: block;
    border-top: 0px solid #0a3a69;
    font-size: 11px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    z-index: 1;
}
.menu-item::before {background: #fff;}
.main_menu > ul > li:hover .menu_dropdown {
    top: 0;
    visibility: visible;
    opacity: 1;
}
.main_menu > ul > li:last-child {
    padding: 0;
}
}

@media (max-width: 992px){
.main_slider .img_caption h2 {
    font-size: 20px;
    padding: 10px 25px;
}
.main_slider .slick-next {
    left: 44%;
    top: 60px;
}
.main_slider .slick-prev {
    left: 41.5%;
    top: 60px;
}
.about_slider img {
    float: none;
    margin-right: 0px;
}
.index_about_right {
    padding: 0px 25px 0 20px;
}
.index_about_right h5 {
    margin: 0;
}
.about_slider .slick-prev {
    bottom: -10%;
}
.about_slider .slick-next {
    bottom: -10%;
}
.gallery_sec .gallery_img .gallery_text h3 {
    font-size: 12px;
    margin: 10px 0;
    line-height: 13px;
}
.gallery_sec .gallery_img span.view_all {padding: 46px 0 0 0px;}
.index_about_right h2 {
    margin: 0px 0 20px 0;
    padding: 0;
    text-align: center;
}
.members_list {
    width: 100%;
}
.home_slider {
    top: 25px;
}
}

@media (max-width: 991px){
.main_menu_logo a {
    display: inline-block;
}
.org_sec .org_sec_img {
    width: 20%;
}
.org_sec .org_sec_text {
    width: 80%;
    padding-left: 20px;
}
.nav > li > a {
   	padding: 7px 40px;
}
.about_slider img {
    margin: 0px auto;
}
.about_slider .about_slider_cap {
    padding: 0 20px;
    text-align: center;
}
.about_slider .about_slider_cap p {
    margin: 2px 0;
}
.index_about_right {
    background-image: none;
    padding: 0;
}
.index_about_right h5 {
    margin: 20px 0 0 0;
    text-align: center;
}
.index_about_bg {
    padding: 0 0 40px 0;
}
}

@media (max-width: 900px){
.main_slider .slick-prev {
    left: 44.5%;
}
.main_slider .slick-next {
    left: 48%;
}
.events_sect .events_sect_img {
    width: 40%;
}
.events_sect .events_sect_text {
    width: 60%;
}
.home_slider {
    width: 100%;
    padding: 0px;
    top: 0;
    position: relative;
    left: 0;
}
.home_slider h2 {
	background-color: #23408f;
}
}

@media (max-width: 800px){
.reso_sect .reso_sect_img {
    width: 40%;
}
.reso_sect .reso_sect_text {
    width: 60%;
}
.events_list img{width:100%;}
}

@media (max-width: 768px){
.main_slider .img_caption{
	width: 100%;
	top: 0;
	position: relative;
	left: 0;
}
.main_slider .slick-prev {
    display: none !important;
}
.main_slider .slick-next {
    display: none !important;
}
.index_about_left .index_about_left_img {
    width: 40%;
    float: left;
    padding-right: 20px;
}
.index_about_left .index_about_left_cp {
    width: 60%;
    float: left;
    padding: 0;
}
.index_about_left .index_about_left_cp h2 {
    margin: 10px 0 12px 0;
}
.index_about_left .index_about_left_cp p {
    font-size: 14px;
    margin: 0 0 10px 0;
}
.in_project_sec h3 {
    font-size: 14px;
    margin: 12px 0;
}
.footer_right {
    margin: 15px 0;
}
.media_img {
    width: 25%;
}
.media_text {
    width: 72%;
}
}

@media (max-width: 767px){
.in_project_sec {
   	width: 33.3%;
    float: left;
}
.footer_left {
    text-align: center;
}
.footer_left .footer_left_icon {
    display: block;
    margin-bottom: 10px;
}
.footer_left .footer_left_icon img {
    width:auto;
}
.footer_left .footer_left_text {
    display: block;
    padding-left: 0;
}
.footer_right {
    margin: 0;
    text-align: center;
}
.inner_page_left {
    width: 25%;
    float: left;
}
.inner_page_right {
    padding: 0 0 0 30px;
    width: 75%;
    float: left;
}
.led_team_left {
    padding: 0px 30px 0 0;
    width: 25%;
    float: left;
}
.led_team_right {
    width: 75%;
    float: left;
}
.gallery_sec {
    padding: 15px;
    width: 33.3%;
    float: left;
}
.gallery-list li {
    width: 25%;
}
.events_sect .events_sect_img {
    width: 20%;
}
.events_sect .events_sect_text {
    width: 80%;
    padding-left: 30px;
}
.news_sec {
    padding: 15px;
    width: 33.3%;
    float: left;
}
.reso_sect .reso_sect_img {
    width: 25%;
}
.reso_sect .reso_sect_text {
    width: 75%;
}
.events_list h2 {
    font-size: 22px;
    letter-spacing: 0.2px;
}
}
@media (max-width: 640px){
.inner_page_left ul li {
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.inner_page_left ul li i {
    font-size: 14px;
}
.inner_page_left ul li a {
    font-size: 12px;
}
.inner_page_right ul li {
    font-size: 13px;
    margin-bottom: 10px;
}
.inner_page_right p {
    font-size: 13px;
    margin: 0 0 10px 0;
}
.led_team_right .team_right_text p {
    font-size: 13px;
    margin: 0 0 10px 0;
}
.events_list p {
    font-size: 13px;
    margin: 0 0 10px 0;
}
.news_sec h3 {
    font-size: 12px;
}
.news_sec p {
    font-size: 10px;
}
.news_list p {
    font-size: 13px;
    margin: 0 0 10px 0;
}
.media_text h3 {
    font-size: 17px;
}
.media_text p {
    font-size: 11px;
}
}

@media (max-width: 568px){
.in_project_sec {
    padding: 0 10px;
    border-right: 0px solid #c7c7c7;
}
.index_about_left .index_about_left_cp h2 {
    font-size: 25px;
}
.index_about_right h2 {
    font-size: 25px;
}
.index_project h2{font-size:25px;}
.inner_page_left {
    width: 30%;
}
.inner_page_right {
    padding: 0 0 0 20px;
    width: 70%;
}
.inner_page_right h2 {font-size: 25px;}
.banner h1 {font-size: 25px;}
.gallery_sec {
    width: 50%;
}
.gallery-list li {
    width: 33.3%;
}
.events_list h2 {font-size: 25px;}
.news_sec {
    width: 50%;
}
.news_list h2 {font-size: 25px;}
.media_text p {
    display: none;
}
}

@media (max-width: 480px){
.main_menu_logo a img {
    width: 100%;
}
.media_text h3 {
    font-size: 14px;
}
.media_text h4 {
    font-size: 11px;
}
.media_text h4 i {
    font-size: 11px;
}
.event_gallery ul li {
    width: 33.3%;
}
.events_list .event_gallery h2 {
    font-size: 23px;
}
.members h2 {
    font-size: 23px;
}
}
@media (max-width: 414px){
.index_about_left .index_about_left_img {
    width: 100%;
    padding-right: 0px;
}
.index_about_left .index_about_left_cp {
    width: 100%;
    margin-top: 10px;
}
.inner_page_left {
    width: 100%;
}
.inner_page_right {
    padding: 0;
    width: 100%;
    margin-top: 20px;
}
}

@media (max-width: 375px){
.hamburger {
   	margin: 22px 0;
}
.gallery_sec {
    width: 100%;
}
.gallery_sec .gallery_img span.view_all {
    padding: 75px 0 0 0px;
}
.gallery-list li {
    width: 50%;
}
.events_sect .events_sect_img {
    width: 30%;
}
.events_sect .events_sect_text {
    width: 70%;
    padding-left: 20px;
}
.news_sec {
    width: 100%;
}
.media_img {
    width: 30%;
}
.media_text {
    width: 67%;
}
.events_list h5 {
    font-size: 13px;
}
.members_list table tr td {
    font-size: 11px;
}
.members_list table tr td.mem_td {
    font-size: 11px;
}
}

@media (max-width: 360px){
.sub_menu > ul > li > a {
    font-size: 11px;
}
.in_project_sec {
    width: 50%;
}
.led_team_left {
    padding: 0px 20px 0 0;
    width: 40%;
}
.led_team_right {
    width: 60%;
}
.led_team_right .team_right_cp {
    margin-bottom: 35px;
}
.led_team_right .team_right_cp h3 {font-size: 15px;}
.led_team_right .team_right_cp p {font-size: 11px;}
.events_sect .events_sect_text h3 {
    font-size: 11px;
}
.events_sect .events_sect_text h4 {font-size: 11px;}
}

@media (max-width: 320px){
.main_menu {
    width: 250px;
}
.nav > li > a {
    padding: 7px 20px;
}

}









